h2.style-icon {
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}
h2.style-icon:after {
  display: none;
}
@media (min-width: 1024px) {
  h2.style-icon:after {
    display: inline-block;
  }
}
h2.style-icon:after {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAhCAYAAAC4JqlRAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADhSURBVHgB7ZZNDoIwEIVfa2HtEVi65AZyBW/kjTiCeAI5gkt3sufPmQRdYjtjIov5kpaGkHlfGzIpYBiGYfwZx1MIofLeVxAwTVMzDEMDIR4K5nk+SsXfBJ6WHTRIJM/zM5SoTuAXmIAJmMDmBfbQU0AoUFCnu2VZVkJOSTUuWNnImsCdev3JOVcLJTi85hq07iAQQN/3rVDiE8411j78+hMKJKLDowQSJZLCowUiJZLDmR0SoNvPgy4gV5ZYngd+P45jJwlnHATwCbAELVuSAsmUknAVLEHjuQxNr1BLqMJfhBJ+fZQzWUUAAAAASUVORK5CYII=)
    0 0 no-repeat;
  content: "";
  height: 32px;
  margin-left: 1rem;
  width: 33px;
}
h2.style-icon.no-icon:after {
  display: none;
}
.carousel-multi {
  max-width: 100%;
}
.carousel-multi .embla {
  max-width: 100%;
  padding: 0;
  position: relative;
}
.carousel-multi .embla__viewport {
  width: 100%;
}
.carousel-multi .embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.carousel-multi .embla__viewport.is-dragging {
  cursor: grabbing;
}
.carousel-multi .embla__container {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
.carousel-multi .embla__slide {
  position: relative;
}
.carousel-multi .embla__slide__inner {
  min-height: 160px;
  position: relative;
  text-align: center;
}
.carousel-multi .embla__slide__img {
  display: block;
  vertical-align: middle;
  width: auto;
}
.carousel-multi .embla__button {
  fill: #535252;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 56px;
  justify-content: center;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  touch-action: manipulation;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 56px;
  z-index: 1;
}
.carousel-multi .embla__button.embla__button--prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.carousel-multi .embla__button:disabled {
  cursor: default;
  opacity: 0;
}
.carousel-multi .embla__button__svg {
  height: 100%;
  width: 100%;
}
.carousel-multi .embla__button--prev {
  left: 30px;
}
.carousel-multi .embla__button--next {
  right: 30px;
}
@media (max-width: 768px) {
  .carousel-multi .embla__slide__inner {
    min-height: 130px;
  }
  .carousel-multi .embla__slide__img {
    display: inline-block;
    vertical-align: middle;
  }
  .carousel-multi .embla__button--prev {
    left: -20px;
  }
  .carousel-multi .embla__button--next {
    right: -20px;
  }
}
.carousel-multi .collection {
  width: 324px;
}
@media (min-width: 360px) {
  .carousel-multi .embla {
    max-width: 100%;
  }
  .carousel-multi .embla__button--prev {
    left: -28px;
  }
  .carousel-multi .embla__button--next {
    right: -28px;
  }
}
@media (min-width: 768px) {
  .carousel-multi .collection {
    width: 324px;
  }
  .carousel-multi .embla {
    max-width: 100%;
  }
  .carousel-multi .embla__button--prev {
    left: -28px;
  }
  .carousel-multi .embla__button--next {
    right: -28px;
  }
}
@media (min-width: 1024px) {
  .carousel-multi .collection {
    width: 290px;
  }
  .carousel-multi .embla {
    max-width: 101%;
  }
  .carousel-multi .embla__button--prev {
    left: -28px;
  }
  .carousel-multi .embla__button--next {
    right: -28px;
  }
}
@media (min-width: 1280px) {
  .carousel-multi .collection {
    width: 352px;
  }
}
@media (min-width: 1792px) {
  .carousel-multi .collection {
    width: 426px;
  }
  .carousel-multi .embla {
    max-width: 100%;
  }
  .carousel-multi .embla__button--prev {
    left: -28px;
  }
  .carousel-multi .embla__button--next {
    right: -28px;
  }
}
.join-button {
  font-weight: 600 !important;
}
.join-button:hover,
.join-button:visited {
  background-color: #333;
}
.learn-more {
  font-weight: 600 !important;
}
.learn-more:hover,
.learn-more:visited {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #4558d2;
}
.collection.normal {
  background: #fff;
  border: 1px solid #060606;
  box-shadow: 8px 8px 0 rgba(6, 6, 6, 0.06);
  box-sizing: border-box;
  height: 28rem;
  padding: 1rem;
  transition: all 0.2s ease;
}
.collection.normal:hover {
  background: #fcfcfc;
  border-color: #262626;
  box-shadow: 8px 8px 0 rgba(6, 6, 6, 0.1);
}
.collection.normal .collection-img {
  height: 165px;
  overflow: hidden;
}
.collection.normal .collection-summary {
  margin-top: 60px;
}
.collection.normal .collection-summary h3,
.collection.normal .collection-summary h4 {
  font-family: Suisse, monospace, sans-serif;
  text-align: center;
}
.collection.normal .collection-summary .logo {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(6, 6, 6, 0.06);
  height: 90px;
  left: 50%;
  margin-left: -45px;
  margin-top: -24px;
  object-fit: cover;
  position: absolute;
  top: 165px;
  width: 90px;
}
.collection.normal .collection-summary h3 {
  --tw-text-opacity: 1;
  color: rgb(6 6 6 / var(--tw-text-opacity));
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
}
.collection.normal .collection-summary h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media (min-width: 375px) {
  .collection.normal {
    height: 28.625rem;
  }
  .collection.normal .collection-summary h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .collection.normal {
    height: 28rem;
  }
  .collection.normal .collection-summary h4 {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .collection.normal {
    height: 28rem;
  }
  .collection.normal .collection-summary h4 {
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .collection.normal .collection-summary h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
